/*** GLOBAL DEFAULTS **/

article a:link, article a:visited {
	text-decoration: none;
	border-bottom: 1px dotted #d63;
}

article a:hover, article a:focus, article a:active {
	color: #d63;
	text-decoration: none;
	border-bottom: 1px dotted #cb4b16;
}

/*a:not([href]) {
	-webkit-text-decoration-line: underline;
	-moz-text-decoration-line: underline;
	text-decoration-line: underline;
	-webkit-text-decoration-style: dashed;
	-moz-text-decoration-style: dashed;
	text-decoration-style: dashed;
}*/

/*** GLOBAL ELEMENTS AND ATTRIBUTES **/

article {
	font-size: 18.6667px;
	font-size: 1.1rem;
	line-height: 140%;
	padding: 1%;
}

article p, #content article p {
	margin-top: 1em;
	margin-bottom: 1em;
}

dfn::before {
	content: open-quote;
}

dfn {
	font-style: inherit;
}

dfn::after {
	content: close-quote;
}

[data-display="no"] {
	display: none;
}

[data-display-inline="yes-display-inline"] {
/*	display: inline;*/
}

[data-reported-display-style="boldface-roman"] > *,
[data-reported-display-style="parentheses-boldface-roman"] > *,
[data-reported-display-style="brackets-boldface-roman"] > * {
	font-style: normal;
}

ins,
[data-changed="added"] > *,
[data-reported-display-style="italic"] > *,
[data-reported-display-style="boldface-italic"] > *,
[data-reported-display-style="parentheses-boldface-italic"] > *,
[data-reported-display-style="brackets-boldface-italic"] > * {
	font-style: italic;
}

[data-reported-display-style="bold-brackets"] > p::before,
[data-reported-display-style="bold-brackets"] > p::after,
[data-reported-display-style="boldface-roman"] > *,
[data-reported-display-style="boldface-italic"] > *,
[data-reported-display-style="parentheses-boldface-roman"] > *,
[data-reported-display-style="parentheses-boldface-italic"] > *,
[data-reported-display-style="brackets-boldface-roman"] > *,
[data-reported-display-style="brackets-boldface-italic"] > * {
	font-weight: bolder;
}

[data-reported-display-style="parentheses-boldface-roman"] > p::before,
[data-reported-display-style="parentheses-boldface-italic"] > p::before {
	content: "(";
}

[data-reported-display-style="parentheses-boldface-roman"] > p::after,
[data-reported-display-style="parentheses-boldface-italic"] > p::after {
	content: ")";
}

[data-reported-display-style="bold-brackets"] > p,
[data-reported-display-style="brackets-boldface-roman"] > p::before,
[data-reported-display-style="brackets-boldface-italic"] > p::before {
	content: "[";
}

[data-reported-display-style="bold-brackets"] > p,
[data-reported-display-style="brackets-boldface-roman"] > p::after,
[data-reported-display-style="brackets-boldface-italic"] > p::after {
	content: "]";
}

del,
[data-changed="deleted"] > *,
[data-reported-display-style="strikethrough"] > * {
	text-decoration: line-through;
}

[data-proposed="true"] {
	font-style: italic;
}

/*** LEGISLATIVE DOCUMENT HEADER **/

section.form {
	text-align: center;
}

p.distribution-code, p.calendar, p.congress, p.session {
	/* rendered light because it is not useful info */
	margin: 0 !important;
	font-size: 85%;
	color: #777;
}

p.distribution-code, p.calendar {
	text-align: right;
}

p.congress, p.session {
	font-variant: small-caps;
}

p.legis-num {
	font-size: 125%;
	font-weight: bolder;
	margin: 20px 0 !important;
}

p.associated-doc {
	font-weight: bolder;
}

p.current-chamber::before, p.legis-type::before {
	display: block;
	border-top: 1px solid #AAA;
	width: 50%;
	content: "";
}
	p.current-chamber::before { margin: 1em auto .5em; }
	p.legis-type::before  { margin: 0 auto 1em; }

p.current-chamber, section.action {
	/* rendered lighter because it is not useful info */
	font-size: 90%;
	color: #666;
}

	p.action-date {
		margin: 0 0 0.25em !important;
	}
	p.action-desc {
		margin: 0 0 1em 0 !important;
	}

	span.sponsor, span.cosponsor, span.nonsponsor {
		color: #000;
	}

	p.action-instruction::before {
		content: "[";
	}
	p.action-instruction {
		font-size: 75%;
	}
	p.action-instruction::after {
		content: "]";
	}

/*** LEGISLATIVE DOCUMENT BODY **/

p.legis-type {
	font-size: 125%;
	font-weight: bold;
}

section.legis-body, section.resolution-body, section.amendment-body {
	margin: 0.5em;
	border: dashed black;
	border-width: 0.1em 0em;
	padding: 1em 0em 0.25em;
}

/*
the logic for when to display "Be it enacted" is slightly more complex than this.
section.legis-body:not([data-display-enacting-clause="no-display-enacting-clause"]) > section.section:first-child::before,
section.resolution-body:not([data-display-enacting-clause="no-display-enacting-clause"]) > section.section:first-child::before,
section.amendment-body:not([data-display-enacting-clause="no-display-enacting-clause"]) > section.section:first-child::before {
	display: block;
	margin: 0em 0.5em 0.75em;
	font-style: italic;
	line-height: 1.4;
	text-decoration: none !important;
	content: "Be it enacted by the Senate and House of Representatives of the United States of America in Congress assembled,";
}*/

section.legis-body > section.section[data-display-inline="yes-display-inline"]:first-child::before,
section.resolution-body > section.section[data-display-inline="yes-display-inline"]:first-child::before,
section.amendment-body > section.section[data-display-inline="yes-display-inline"]:first-child::before {
	display: inline;
	line-height: 1;
}

/*** ALL SEGMENTS **/

span.enum + p.header {
	display: inline;
}

/*** SEGMENTS ABOVE SECTION **/

section.big-level > span.enum,
section.big-level > p.header {
	display: block;
	text-align: center;
}

section.big-level > span.enum {
	margin-top: 0.5em;
	margin-bottom: 1em;
	font-weight: bolder;
}

section.big-level > p.header {
	margin-top: -0.5em;
	margin-bottom: 1.5em;
	font-size: 125%;
}

/*** BIG LEVEL HEADING TEXT **/

section.division > span.enum::before {
	content: "Division ";
}
section.subdivision > span.enum::before {
	content: "Subdivision ";
}
section.title > span.enum::before {
	content: "Title ";
}
section.subtitle > span.enum::before {
	content: "Subtitle ";
}
section.chapter > span.enum::before {
	content: "Chapter ";
}
section.subchapter > span.enum::before {
	content: "Subchapter ";
}
section.part > span.enum::before {
	content: "Part ";
}
section.subpart > span.enum::before {
	content: "Subpart ";
}

/*** SECTION SEGMENT **/

section.section > span.enum::before {
	content: "Sec. ";
}
section.section[data-section-type="section-one"] > span.enum::before {
	content: "Section ";
}
section.section[data-section-type="undesignated-section"] > span.enum::before {
	content: "";
}

section.section > span.enum, section.section > p.header {
	font-weight: bolder;
}
section.section > span.enum + p.header,
section.section > span.enum + p.text {
	margin-left: 0.25em;
}

/* XXX: We should probably handle this generically. */
section.section[data-indent="down1"] {
	margin-left: 1em;
}

/*** SEGMENTS BELOW SECTION **/

section.little-level {
	padding-left: 1.5em;
	margin: 1em 0;
}
section.little-level > span.enum {
	margin-left: -1.5em;
	margin-right: .25em;
}
section.little-level > span.enum + p.header {
	margin-left: 0.125em;
	text-align: left;
}
section.little-level > p.header::after {
	content: ".\2014";
}

p.text {
}

span.enum + p.text {
	display: inline;
}

/*** APPROPRIATIONS **/

div.appropriations-major > p.header,
div.appropriations-intermediate > p.header,
div.appropriations-small > p.header {
	display: block;
	margin: 1em 0em;
	text-align: center;
}

div.appropriations-major > p.header {
	margin-top: -0.5em;
	margin-bottom: 1.5em;
	font-size: 125%;
	font-weight: normal;
}

div.appropriations-intermediate > p.header {
	font-size: 115%;
	text-transform: capitalize;
}

div.appropriations-small > p.header {
	font-size: 105%;
}

/*** TABLE OF CONTENTS **/

section.toc {
	margin: 1em 2em;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	padding: 0.25em 0.75em;
	font-size: smaller;
	text-align: left;
}
	.quoted-block section.toc {
		margin: 0;
		border: none;
		padding: 0;
		font-size: inherit;
	}

p.toc-entry[data-level="title"] {
	text-align: center;
}

p.toc-entry[data-level="section"], #content article p.toc-entry[data-level="section"] {
	margin: 0em;
}

/* QUOTED BLOCKS */

section.quoted-block > div.wrapper:first-child {
	margin-top: 1em;
	margin-left: 0.5em;
	border: solid #CCC;
	border-width: 0.1333em 0.2em;
	background-color: #F3F3F3;
	padding: 0 .5em;
}

p.text, p.quoted-block-continuation-text {
	line-height: 1.25;
	text-align: justify;
}

q.quote {
	quotes: "“" "”" "‘" "’";
}
q.quote::before {
	content: open-quote;
}

q.quote::after {
	content: close-quote;
}

/*** TEXT WE WANT TO HILIGHT **/

span.short-title {
}

span.effective-date {
	color: #00C;
}

/*** LEGISLATIVE DOCUMENT FOOTER **/

section.endorsement {
	text-align: center;
}

p.attestor::before {
	display: block;
	font-family: serif;
	content: "Attest:";
	margin: 0.75em -1em;
}

p.attestor {
	font-variant: small-caps;
	margin: 0.5em 1em;
}

p.role {
	font-style: italic;
	margin: 0em 3em auto;
}

p.role::after {
	content: "."
}
